@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* css for app background  */
.background {
  background-size: cover;
  background-position: center center;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

.container {
  position: relative;
  display: grid;
  grid-gap: -100px;
  align-items: center;
  place-content: center;
  grid-template-rows: 150px;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

/* Time style  */
h1 {
  letter-spacing: 10px;
  color: white;
  font-size: 150px;
  grid-template-rows: 10px;
  line-height: 150px;
  text-align: center;
  height: 5px;
}

/* AddFocus heading css  */
h2 {
  height: 10px;
  color: white;
  text-align: center;
  font-size: 30px;
}

/* PositiveWords css  */
h3 {
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  height: 0px;
}

/* Add focus input field css  */
.focus {
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
  text-align: center;
  padding: 20px 0 10px 0;
  border: none;
  border-bottom: 3px solid white;
  outline: none;
  width: 100%;
  cursor:none
}

/* AddFocus css  */
.buttons {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.button {
  height: 2rem;
  font-size: 1rem;
  border: none;
  margin-top: 20px;
  align-items: center;
  border-radius: 20px;
  transition: .5s all;
}

.addButton {
  width: 6rem;
}

.remButton {
  width: 7rem;
}

.addButton:hover,
.remButton:hover {
  background-color: #bbbbbb;
  font-weight: bold;
}

/* Quote css  */
.quoteDiv{
  position: absolute;
  color: white;
  bottom: 0;
  width: 100vw;
  text-align: center;
}

.quote{
  margin-bottom: -20px;
}

.author{
  font-size: 15px;
}

.fa-twitter{
  color: white;
  transition: .5s all;
}

.fa-twitter:hover{
  color: #1DA1F2;
}

/* weather css  */
.weather{
  color: white;
  position: absolute;
  top: 0;
  right: 100px;
}

.weather .city{
  font-size: 1.2rem;
  float: right;
  margin-top: -60px;
}

.weather .temp{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather .temp p{
  font-size: 1.7rem;
  font-weight: bold;
  margin-left: 5px;
}

.weather .temp img{
  width: 60px;
  height: 70px;
}

/* SearchTab css  */
.search{
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #E1E8ED;
  outline: none;
  font-size: 18px;
  padding: 10px 10px 5px 15px;
  color: white;
}

.searchBar i{
  color: #E1E8ED;
}

.searchBar{
  width: 15rem;
  position: absolute;
  top: 20px;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

select {
  font-family: 'Poppins', 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
  outline: none;
  background-color: transparent;
  color: white;
  border: none;
  width: 45px;
  height: 25px;
  font-size: 20px;
  text-align: center;
  text-align-last: justify;
}

select option{
  font-size: 15px;
  color: #444645;
  background: #ddd;
  border: 5px solid red;
  text-align: center;
  margin: 0 auto;
}

select:hover {
  color: #444645;
  background: #ddd;
  border-radius: 5px;
  }